@charset "UTF-8";

.footer{
    padding: 80px;
}

.footer .inner {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.footer .f_logo {
    display: block;
    margin-bottom: 20px;
}

.footer .f_menu {
    margin-bottom: 15px;
}

.footer .f_menu li:first-child {
    padding-left: 0;
}

.footer .f_menu li {
    position: relative;
    float: left;
    margin-right: 7px;
    padding-left: 7px;
}

.footer .f_menu.type1 li a {
    color: #4d4d4d;
}

.footer .f_menu li a {
    display: block;
    font-size: 12px;
}

.footer .f_menu li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer .f_menu li:first-child:before {
    content: none;
}

.footer .f_menu.type1 li a strong {
    color: #000;
    text-decoration: underline;
}

.footer .f_menu:after {
    content: "";
    display: block;
    clear: both;
}

.footer .bx_address {
    line-height: 1.5;
    font-size: 12px;
    color: #4D4D4D;
}

.footer .bx_address address {
    display: inline;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6, address, caption, em, th {
    font-style: normal;
    font-weight: normal;
}

.footer .bx_address.type1 span {
    border: 0;
}

.footer .bx_address span {
    margin-right: 10px;
}

.pl5 {
    padding-left: 5px !important;
}

.footer .bx_address span.bar {
    position: relative;
    padding-left: 10px;
}

.footer .bx_address.type1 span.bar:before {
    opacity: .6;
}

.footer .bx_address span.bar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer .bx_address .txt_underline {
    text-decoration: underline;
}

.footer .copyright {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #4D4D4D;
}

.footer .article_award {
    margin: 50px auto 0;
    padding: 20px 0;
    background: #f5f5f5;
}

.footer .article_award ul li:first-child {
    margin-left: 0;
}

.footer .article_award ul li {
    float: left;
    margin: 0 4px;
}

.footer .article_award ul:after {
    content: "";
    display: block;
    clear: both;
}
