@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	/* min-width:1024px; */
}

.wrap{
	width: 1920px;
    height: 774px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
	
.img_list{
	width: 3840px;
	height: 774px;
	position: absolute;
	top: 0;
	left: 0;
}
    
.img_list li{
    float: left;
    list-style: none;
}
    
.img_list img{
	width: 1920px;
	height: 774px;
}
	
.btn_left{
	width: 31px;
	height: 60px;
	left: 30px;
	top: 30%;
	position: absolute;
	background-image: url(/resources/static/img/leftBtn.png); 
	background-color: rgba(0,0,0,0);
	border: none;
}
	 
.btn_right{
	width: 31px;
	height: 60px;
	right: 30px;
	top: 30%;
	position: absolute;
	background-image: url(/resources/static/img/rightBtn.png); 
	background-color: rgba(0,0,0,0);
	border: none;
}

.header_img_section{
	background-color: black;
}

.header_movie_list{
	height: 200px;
	background-color: black;
}




/* 모달 스타일 */
    .modal {
        display: none; /* 초기에는 숨김 */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: auto;
    }
    .modal-content {
        position: relative;
        margin: 10% auto;
        padding: 20px;
        max-width: 600px;
        background-color: #fefefe;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /* 반응형 이미지 스타일 */
    .video-link {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }
/*==================================================*/




.footer{
    padding: 80px;
}

.footer .inner {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.footer .f_logo {
    display: block;
    margin-bottom: 20px;
}

.footer .f_menu {
    margin-bottom: 15px;
}

.footer .f_menu li:first-child {
    padding-left: 0;
}

.footer .f_menu li {
    position: relative;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
}

.footer .f_menu.type1 li a {
    color: #4d4d4d;
}

.footer .f_menu li a {
    display: block;
    font-size: 12px;
}

.footer .f_menu li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer .f_menu li:first-child:before {
    content: none;
}

.footer .f_menu.type1 li a strong {
    color: #000;
    text-decoration: underline;
}

.footer .f_menu:after {
    content: "";
    display: block;
    clear: both;
}

.footer .bx_address {
    line-height: 1.5;
    font-size: 12px;
    color: #4D4D4D;
}

.footer .bx_address address {
    display: inline;
    margin-right: 10px;
}

h1, h2, h3, h4, h5, h6, address, caption, em, th {
    font-style: normal;
    font-weight: normal;
}

.footer .bx_address.type1 span {
    border: 0;
}

.footer .bx_address span {
    margin-right: 10px;
}

.pl5 {
    padding-left: 5px !important;
}

.footer .bx_address span.bar {
    position: relative;
    padding-left: 10px;
}

.footer .bx_address.type1 span.bar:before {
    opacity: .6;
}

.footer .bx_address span.bar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    height: 10px;
    border-left: 1px solid #707070;
}

.footer .bx_address .txt_underline {
    text-decoration: underline;
}

.footer .copyright {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #4D4D4D;
}

.footer .article_award {
    margin: 50px auto 0;
    padding: 20px 0;
    background: #f5f5f5;
}

.footer .article_award ul li:first-child {
    margin-left: 0;
}

.footer .article_award ul li {
    float: left;
    margin: 0 4px;
}

.footer .article_award ul:after {
    content: "";
    display: block;
    clear: both;
}

ul{
    list-style: none;
}
