@charset "utf-8";

@import url("../default.css");
/*
===========================
	ver: 1.00
	type: li
===========================
*/

/*==== Content === */
#contents{
	width: 980px;
	margin: 0 auto;
	padding: 50px 0 0 0;
}


/*==== Title ====*/
#contents > .title_top{
	margin-bottom: 20px;
	padding: 25px 0 14px;
	border-bottom: 1px solid #eee;
}

#contents > .title_top:after{
	content: "";
	display: block;
	clear: both;
}

#contents > .title_top .tit{
	float: left;
	font-size: 24px;
	color: #000;
}


/*==== List ==== */
.litype5{
	
}