@charset "utf-8";

/*
===========================
	ver: 1.00
	type:
===========================
*/

/*==== Tab ====*/
.tab_wrap{ position: relative; }
.tab_wrap > li > .tab_tit{ position: absolute; top: 0; border: none; }
.tab_wrap > li > .tab_tit span{ vertical-align: top; white-space: nowrap; }
.tab_wrap > li > .tab_con.ty2{ margin-top: -8px; }

.tab_wrap > li.active > .tab_con{ overflow: inherit; position: relative; width: auto; height: auto; }


.tab_wrap.outer{ padding-top: 80px;	}
.tab_wrap.outer > li >.tab_tit{ height: 50px; line-height: 50px; border-bottom: 1px solid #CCC; font-size: 15px; color: #7F7F7F; }
.tab_wrap.outer > li.active > .tab_tit{ border-bottom: 2px solid #111; color: #000; } 


/*==== Tab-animation ====*/
/* .area__movingbar .tab_wrap.outer > li.active > .tab_tit{ border-bottom: 0; } */






